.menu{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 192px;
    box-shadow: 0px 0px 10px 1.5px rgba(0, 0, 0, 0.600);
    position: fixed;
    gap: 1020px;
}

.opcaoMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -500px;
    height: 100%;
    width: 50%;
    padding: 10px;
}

.botaoContainer{
    width: 50%;
    display: flex;
    align-items: right;
    margin-right: -1000px;
}

.botaoEntrar{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #FFBC0D;
    color: black;
    font-family: sans-serif;
    font-size: 10px;
    padding: 8px;
    height: 60px;
    width: 210px;
    border-radius: 5px;
    border: 2px solid #e7a90c;
}

.s1{
    height: 100vh;
    background-color: rgb(182, 113, 113);
}

.s2{
    height: 100vh;
    background-color: rgb(156, 139, 117);
}