.menu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 58%;
    box-shadow: 0px 0px 10px 1.5px rgba(0, 0, 0, 0.600);
    position: fixed;
    transition:  all 300ms ease-in-out;
    background-image: url('/bgMenu.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.shrink{
    background-image: none;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 13.5%;
    box-shadow: 0px 0px 10px 1.5px rgba(0, 0, 0, 0.600);
    position: fixed;
}



.opcaoMenu{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 80%;
    padding-left: 80px;
}

.shrink .opcaoMenu{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 80%;
    padding-left: 80px;
}

.botaoContainer{
    width: 20%;
    display: flex;
    overflow: hidden;
    justify-content: end;
    padding-right: 95px;
}

.botaoEntrar{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #FFBC0D;
    color: black;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 1;
    padding: 8px;
    height: 60px;
    width: 230px;
    border-radius: 6px;
    border: 2px solid #ad7f0a;
}

.s1{
    height: 100vh;
    background-color: rgb(182, 113, 113);
}

.s2{
    height: 100vh;
    background-color: rgb(156, 139, 117);
}