.menu{
    display: flex;
    width: 100%;
    height: 58%;
    box-shadow: 0px 0px 10px 1.5px rgba(0, 0, 0, 0.600), rgba(44, 44, 44, 0.705) 1200px 0px 2000px -100px inset;
    position: fixed;
    transition:  all 300ms ease-in-out;
    background-image: url('/bgMenu.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    transition: all 400ms ease-in-out;

}

.shrink{
    background-image: none;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 13.5%;
    box-shadow: 0px 0px 10px 1.5px rgba(0, 0, 0, 0.600);
    position: fixed;
}

.Tlinha{
    filter: invert(100%);
}

.shrink .Tlinha{
    filter: invert(0%);
}

opca

.imgOM{
    display: flex;
    align-items: center;
    height: 35px;
    margin-top: 45px;
}

.botaoContainer{
    width: 80%;
    display: flex;
    overflow: hidden;
    justify-content: end;
    padding-right: 100px;
    padding-top: 45px;
}

.botaoEntrar{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #FFBC0D;
    color: black;
    font-size: 7px;
    font-weight: 100;
    padding: 8px;
    height: 40px;
    width: 155px;
    border-radius: 5px;
    border: 1px solid #ad7f0a;
}

.s1{
    height: 100vh;
    background-color: rgb(182, 113, 113);
}

.s2{
    height: 100vh;
    background-color: rgb(156, 139, 117);
}